.back {
  width: 34em;
  height: 26em;
  background-color: #fff;
  align-items: center;
}

.gradient {
  background: rgb(167, 31, 96);
  background: linear-gradient(
    135deg,
    rgba(167, 31, 96, 1) 0%,
    rgba(191, 129, 173, 1) 34%,
    rgba(224, 124, 71, 1) 54%,
    rgba(244, 198, 129, 1) 79%
  );
  width: 45em;
  height: 45em;
  border-radius: 45em;
}
.btn-1 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btng {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 20%;
}
#close img {
  border: 1px solid rgb(255, 248, 248);
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  margin-top: -1.5em;
  margin-right: -0.3em;
}

/* MEDIA QUERRIES */

@media (max-width: 735px) {
  #model {
    margin-top: 1em;
    border-radius: 5%;
    width: auto;
    height: auto;
    padding: 3em;
  }

  #content img {
    margin-top: -1.3em;
    margin-bottom: 1em;
  }

  #content {
    width: auto;
    height: auto;
  }

  #contentsec h5 {
    margin-top: -1.3em;
    font-size: medium;
    font-weight: 700;
  }

  #firstp {
    font-size: x-large;
  }
}
#close img {
  margin-top: -1em;
}

@media (max-width: 600px) {
  #content {
    height: 90% !important;
    width: 90%;
  }
  #contentsec {
    margin-top: 1em;
  }
  #firstp {
    display: none;
  }

  #image-1 {
    height: 20em;
    width: 15em;
  }
  #btn-1 {
    width: 87%;
  }
  #inputm {
    width: 87% !important;
  }
}

@media (max-width: 374px) {
  #image-1 {
    height: 10em;
    width: 7.5em;
  }
}

@media (max-width: 265px) {
  #model {
    padding: 0em !important;
  }
}

@media (min-width: 735px) {
  .container-fluid {
    background-color: #ebecf5;
  }
  #content {
    margin-top: 0.5em;
  }
  #content img {
    margin-top: -1.2em;
    margin-bottom: 1em;
  }
  #contentsec {
    margin-top: -1.2em;
    margin-bottom: 1em;
  }
}
